<% content_for(:title, "Add Review | World's Foods") %>

<h1>Add Review for "<%= @product.name %>"</h1>

<%= render 'form' %>
<hr>

<p><%= link_to "Return to product page", product_path(@product) %></p>
